 <launch>
<node pkg="sicktoolbox_wrapper" type="sicklms" name="base_laser1" respawn="true">
      <param name="port" type="string" value="/dev/sensor-sick_lidar" />    
      <param name="baud" type="int" value="500000" />
      <param name="frame_id" type="string" value="/base_laser1_link" />
      <param name="resolution" type="double" value="1.0" />
      <remap from="scan" to="/sensor_msgs/LaserScan" />
  </node>
</launch>
